$color-surface: #000000;
$color-base: #141414;
$color-overlay-1: #181818;
$color-overlay-2: #242424;

$color-text-overlay-2: #ffffff;
$color-text-overlay-1: #cccccc;
$color-text-base: #999999;
$color-text-surface: #555555;