@function step($a: 1, $b: null, $c: null, $d: null) {
  $result: ();

  @if $a != null {
    $result: append($result, $a * $padding-step);
  }

  @if $b != null {
    $result: append($result, $b * $padding-step);
  }

  @if $c != null {
    $result: append($result, $c * $padding-step);
  }

  @if $d != null {
    $result: append($result, $d * $padding-step);
  }

  @return $result;
}

@mixin base-block($hover: true, $interact: true) {
  padding: step(1, 2);
  background: $color-overlay-2;
  border-radius: step();

  @if ($hover) {
    &:hover {
      background: $color-overlay-3;
    }
  }

  @if (not $interact) {
    pointer-events: none;
  }
}
